<header class="header">
  <div class="header__logo">
    <img
      src="../../../assets/logo.png"
      alt="logo"
      class="logo-icon"
    >
    <div class="logo-text">
      <p>Currency convertor</p>
    </div>
  </div>
  <div class="header__list">
    <div class="header__list-item">
      <img src="../../../assets/usa.png" alt="usa" class="item-icon">
      <p class="item-text">{{currency[0].rate}} UAH</p>
    </div>
    <div class="header__list-item">
      <img src="../../../assets/union.png" alt="euro" class="item-icon">
      <p class="item-text">{{currency[1].rate}} UAH</p>
    </div>
  </div>
</header>
